@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VWarehouse</h1>
    <p class="lead">Welcome to Virtual Warehouse. Bon voyage mon ami.</p>
    <p><a href="http://localhost:51273/Home/Index" class="btn btn-primary btn-lg">VWarehouse &raquo;</a></p>
</div>

<div class="row text-center">
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Warehouse</h2>
            <p>
                Manage your company warehouse with Virtual Warehouse.
            </p>
        </div>
        <p>@Html.ActionLink("All Items", "Index", "Item", new { }, new { @class = "btn btn-success", @style = "width: 150px" })</p>

    </div>

    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Items On Stock</h2>
            <p>Manage items On Stock</p>
        </div>
        <p>@Html.ActionLink("Items On Stock", "OnStock", "Item", new { },  new { @class = "btn btn-success", @style = "width: 150px" })</p>
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Measuring Devices</h2>
            <p>Manage your company Measuring Devices</p>
        </div>
        <p>@Html.ActionLink("All Meas. Dev.", "Index", "MeasuringDevice", new { }, new { @class = "btn btn-success", @style = "width: 150px" })</p>
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>M.D. On Stock</h2>
            <p>
                Manage Measuring Devices On Stock.
            </p>
        </div>
        <p>@Html.ActionLink("Meas. Dev. OnStock.", "OnStock", "MeasuringDevice", new { }, new { @class = "btn btn-success", @style = "width: 150px" })</p>
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Vehicles</h2>
            <p>
                Manage your company Vehicles.
            </p>
        </div>
        <p>@Html.ActionLink("All Vehicles.", "Index", "Vehicle", new { }, new { @class = "btn btn-success", @style = "width: 150px" })</p>
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Vehicles On Stock</h2>
            <p>
                Manage Free Vehicles.
            </p>
        </div>
        <p>@Html.ActionLink("Vehicles OnStock.", "OnStock", "Vehicle", new { }, new { @class = "btn btn-success", @style = "width: 150px" })</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Employees</h2>
            <p>
                Manage your company Employees.
            </p>
        </div>
        <p>@Html.ActionLink("Employees.", "Index", "Employee", new { }, new { @class = "btn btn-success", @style = "width: 150px" })</p>
    </div>
    <div class="col-md-2">
        <div style="height: 130px">
            <h2>Warnings</h2>
            <p>
                Check your inventory Warnings.
            </p>
        </div>
        <p>@Html.ActionLink("Warnings.", "Index", "Warning", new { }, new { @class = "btn btn-success", @style = "width: 150px" })</p>
    </div>
</div>
