@model IEnumerable<Model.Common.Inventory.IVehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("Create")"
   class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span> New Vehicle
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextService)
        </th>
        <th></th>
    </tr>

    @foreach (var vehicle in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => vehicle.Name)
            </td>
            <td>
                @Html.DisplayFor(model => vehicle.Type)
            </td>
            <td>
                @Html.DisplayFor(model => vehicle.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(model => vehicle.LicenseExpirationDate.Day)<p style="display:inline">.</p>
                @Html.DisplayFor(model => vehicle.LicenseExpirationDate.Month)<p style="display:inline">.</p>
                @Html.DisplayFor(model => vehicle.LicenseExpirationDate.Year)<p style="display:inline">.</p>
            </td>
            <td>
                @Html.DisplayFor(model => vehicle.Mileage)
            </td>
            <td>
                @Html.DisplayFor(model => vehicle.NextService)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = vehicle.ID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Details", "Details", new { id = vehicle.ID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = vehicle.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
