@model PagedList.IPagedList<Model.Common.Inventory.IVehicle>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("Create")"
   class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span> New Vehicle
</a>

@using (Html.BeginForm("Index", "Vehicle", FormMethod.Get))
{
    <p>
        Search by Item Name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<div style="height: 350px">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.TypeSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                License Plate
            </th>
            <th>
                @Html.ActionLink("LicenseExpirationDate", "Index", new { sortOrder = ViewBag.LicenseExpirationDateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Mileage", "Index", new { sortOrder = ViewBag.MileageSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("NextService", "Index", new { sortOrder = ViewBag.NextServiceSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Employee", "Index", new { sortOrder = ViewBag.EmployeeSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th></th>
        </tr>

        @foreach (var vehicle in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => vehicle.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => vehicle.Type)
                </td>
                <td>
                    @Html.DisplayFor(model => vehicle.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(model => vehicle.LicenseExpirationDate)
                </td>
                <td>
                    @Html.DisplayFor(model => vehicle.Mileage)
                </td>
                <td>
                    @Html.DisplayFor(model => vehicle.NextService)
                </td>
                <td>
                    <a href="@Url.Action("Inventory", "Employee", new { ID=vehicle.EmployeeID})">@Html.DisplayFor(modelItem => vehicle.Employee.Name)</a>
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = vehicle.ID }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Details", "Details", new { id = vehicle.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = vehicle.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))