@model Model.Common.Inventory.IMeasuringDevice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MeasuringDeviceEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalibrationExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalibrationExpirationDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i> Delete
        </button>
        <a href="@Url.Action("Index")"
           class="btn btn-default">
            <span class="glyphicon glyphicon-list-alt"></span> Back to List
        </a>
    }
</div>
