@model IEnumerable<Model.Common.Inventory.IMeasuringDevice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("Create")"
   class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span> New Measuring Device
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalibrationExpirationDate)
        </th>
        <th>
            <b>Employee</b>
        </th>
        <th></th>
    </tr>

    @foreach (var MD in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => MD.Name)
            </td>
            <td>
                @Html.DisplayFor(model => MD.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(model => MD.CalibrationExpirationDate.Day)<p style="display:inline">.</p>
                @Html.DisplayFor(model => MD.CalibrationExpirationDate.Month)<p style="display:inline">.</p>
                @Html.DisplayFor(model => MD.CalibrationExpirationDate.Year)<p style="display:inline">.</p>
            </td>
            <td>
                <a href="@Url.Action("Inventory", "Employee", new { ID=MD.EmployeeID})">@Html.DisplayFor(modelItem => MD.Employee.Name)</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = MD.ID }, new { @class = "btn btn-success" })
                @Html.ActionLink("Details", "Details", new { id = MD.ID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = MD.ID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
