@model Model.Common.IEmployee

@{
    ViewBag.Title = "Inventory";
}

<h2>Employee Inventory</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

<h4>Employee Items</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td width="300">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Return Item", "ReturnOneItem", new { itemID = item.ID, empID = Model.ID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>
<table class="table">
    <tr>
        <td width="300"></td>
        <td>
            @Html.ActionLink("Return All Items", "ReturnAllItems", new { empID = Model.ID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
</table
<p>&nbsp;</p>
<p></p>


<h4>Employee Measuring Devices</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th></th>
    </tr>

    @foreach (var MD in Model.MeasuringDevices)
    {
        <tr>
            <td width="300">
                @Html.DisplayFor(modelItem => MD.Name)
            </td>
            <td>
                @Html.ActionLink("Return Measuring Device", "ReturnOneMeasuringDevice", new { MDeviceID = MD.ID, empID = Model.ID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>

<table class="table">
    <tr>
        <td width="300"></td>
        <td>
            @Html.ActionLink("Return All Measuring Devices", "ReturnAllMeasuringDevices", new { empID = Model.ID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
</table>
<p>&nbsp;</p>
<p></p>


<h4>Employee Vehicles</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th></th>
    </tr>

    @foreach (var vehicle in Model.Vehicles)
    {
        <tr>
            <td width="300">
                @Html.DisplayFor(modelItem => vehicle.Name)
            </td>
            <td>
                @Html.ActionLink("Return Vehicle", "ReturnOneVehicle", new { vhID = vehicle.ID, empID = Model.ID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>

<table class="table">
        <tr>
            <td width="300"></td>
            <td>
                @Html.ActionLink("Return All Vehicles", "ReturnAllVehicles", new { empID = Model.ID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
</table>

<p>&nbsp;</p>
<p></p>

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("Index")"
           class="btn btn-default">
            <span class="glyphicon glyphicon-list-alt"></span> Back to List
        </a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        @Html.ActionLink("Return All", "ReturnAllInventory", new { empID = Model.ID }, new { @class = "btn btn-danger" })
    </div>
</div>
